body {
    font-size: 150%;
}
article {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
article::before, article::after {
    display: block;
    position: absolute;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    content:"";
    /*-webkit-filter: grayscale(0.7) brightness(0.7);*/
}
article::before {
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
article::after {
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.lt {
    text-align: left;
}
article.code {
    background-color: #fbeecb;
}
article.code p {
    margin-left: auto;
    margin-right: auto;
}
article.code .byline {
    color: black;
}
article.code section {
    color: black;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
html .content {
    opacity: 1;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}
a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}
a:hover {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 1;
    border-bottom-color: inherit;
}
html, body {
    width: 100%;
    height: 100%;
}
body {
    background: #000;
    font-family: source-sans-pro, sans-serif;
    font-weight: 400;
    color: white;
    overflow: hidden;
}
.bespoke-slide {
    z-index: 2;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-box-align: center;
    box-align: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-box-pack: center;
    box-pack: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.bespoke-inactive {
    display: none;
}
.bespoke-after-1 {
    z-index: -1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;
    opacity: 0;
}
.bespoke-after-1 .content > * {
    opacity: 0;
}
.bespoke-after-1 .content.nofade > * {
    opacity: 1;
}
.bespoke-active {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;
    opacity: 1;
}
.bespoke-active .content > * {
    opacity: 1;
}
.bespoke-active .content > *:nth-child(1) {
    -webkit-transition: opacity 0.5s linear;
    -webkit-transition-delay: 0s;
}
.bespoke-active .content > *:nth-child(2) {
    -webkit-transition: opacity 0.5s linear;
    -webkit-transition-delay: 0.3s;
}
.bespoke-active .content > *:nth-child(3) {
    -webkit-transition: opacity 0.5s linear;
    -webkit-transition-delay: 0.6s;
}
.bespoke-active .content > *:nth-child(4) {
    -webkit-transition: opacity 0.5s linear;
    -webkit-transition-delay: 0.9s;
}
.bespoke-active .content > *:nth-child(5) {
    -webkit-transition: opacity 0.5s linear;
    -webkit-transition-delay: 1.2s;
}
.bespoke-active .content > *:nth-child(6) {
    -webkit-transition: opacity 0.5s linear;
    -webkit-transition-delay: 1.5s;
}
.bespoke-active .content > *:nth-child(7) {
    -webkit-transition: opacity 0.5s linear;
    -webkit-transition-delay: 1.8s;
}
.bespoke-active .content > *:nth-child(8) {
    -webkit-transition: opacity 0.5s linear;
    -webkit-transition-delay: 2.1s;
}
.bespoke-active .content > *:nth-child(9) {
    -webkit-transition: opacity 0.5s linear;
    -webkit-transition-delay: 2.4s;
}
.bespoke-active .content > *:nth-child(10) {
    -webkit-transition: opacity 0.5s linear;
    -webkit-transition-delay: 2.7s;
}
section {
    color: #f2f2f2;
    text-align: center;
}
section .content {
    padding: 1em;
    word-break: break-word;
}
.content ul, .content p, .content ol, .content .classy {
    max-width: 30em;
}
section h1 {
    font-size: 3em;
    font-weight: 300;
    margin: 0;
}
section h2 {
    font-size: 3em;
    font-weight: 300;
    margin: 0;
}
section h3 {
    font-size: 2.5em;
    font-weight: 400;
    margin: 0;
}
section h4 {
    margin: 0;
    font-size: 1.5em;
    font-weight: 400;
}
section .underline {
    border-bottom: 0.1em solid white;
}
section .strikethrough {
    text-decoration: line-through;
    color: #999999;
}
section .byline, section .row {
    margin: 20px 0;
    display: -webkit-box;
    display: box;
    -webkit-box-align: center;
    box-align: center;
}
section .byline {
    /*font-size: 1em;*/
    color: #a6a6a6;
}
section .byline::before, section .byline::after {
    content:"";
    display: block;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;
    height: 0;
    padding-top: 1px;
    border-bottom: 1px dotted #595959;
}
section .byline::before {
    margin-right:.5em;
}
section .byline::after {
    margin-left:.5em;
}
section .unbrokenline {
    border-bottom: 1px dotted #595959;
    margin: 30px 0 30px;
}
section .classy {
    font-size: 1.2em;
    font-family: kepler-std, Georgia, serif;
    font-weight: 300;
    font-style: italic;
}
section .classy.large {
    font-size: 2.5em;
}
section .me {
    margin: 10px auto;
    width: 120px;
    height: 120px;
    -webkit-border-radius: 120px;
    -moz-border-radius: 120px;
    -ms-border-radius: 120px;
    -o-border-radius: 120px;
    border-radius: 120px;
    background-image: url("./img/leroy.jpg");
    background-size: 120px;
}
pre, code {
    font-family: source-code-pro, "Monaco", courier, monospace;
    font-size: 1.2em;
    font-weight: 400;
    text-align: left;
}
pre {
    position: relative;
    box-shadow: 0 0 1px 0 black, 0 0 0px 8px white, 0 0 0px 9px rgba(0, 0, 0, 0.1), 10px 10px 20px 3px rgba(0, 0, 0, 0.2), -10px 10px 20px 3px rgba(0, 0, 0, 0.2);
    margin: 30px;
    padding: 1em;
    display: inline-block;
}
.bespoke-bullet {
    display: none;
}
.bespoke-bullet.bespoke-bullet-last-active {
    display: block;
}
section ul {
    text-align: left;
}
/**
 * SLIDE STATES
 */
.solutions::before {
    background-color: white;
    background-image: url(img/solutions.png);
    background-size: contain;
}
.timelapse::before {
    background-image: url(img/timelapse.gif);
    background-size: contain;
}
.sundance::before {
    background-image: url(img/2013-sundance-winners.jpg);
    background-size: contain;
}
.sundance-2016::before {
    background-image: url(img/2016-sundance-winners.jpg);
    background-size: contain;
}
.tiy::before {
    background-image: url(img/sralogo.png);
    background-size: contain;
}
.theironyard::before {
    background-image: url(img/iron-yard-logo.svg);
    background-size: contain;
}
.gonavy::before {
    background-image: url(img/goNavy.png);
    background-size: contain;
}
.gonavyguys::before {
    background-image: url(img/nap_guys.jpg);
    background-size: contain;
}
.navyone::before {
    background-image: url(img/afghan_window.jpg);
    background-size: contain;
}
.navytwo::before {
    background-image: url(img/AnpLeRoyMOI.jpg);
    background-size: contain;
}
.navythree::before {
    background-image: url(img/loadingC130.jpg);
    background-size: contain;
}
.navyfour::before {
    background-image: url(img/afghanistan.jpg);
    background-size: contain;
}
.navyfive::before {
    background-image: url(img/afg_girl_ISAFHQ.jpg);
    background-size: contain;
}
.navysix::before {
    background-image: url(img/helos.jpg);
    background-size: contain;
}
.navyseven::before {
    background-image: url(img/Kabul_to_Gardez.jpg);
    background-size: contain;
}
.finalfour::before {
    background-image: url(img/warholStreetArtVenice.jpg);
    background-size: contain;
}
.finalone::before {
    background-image: url(img/dog.jpg);
    background-size: contain;
}
.finaltwo::before {
    background-image: url(img/ironsoulbarbell.jpg);
    background-size: contain;
}
.finalthree:before {
    background-image: url(img/germany.jpg);
    background-size: contain;
}
.lifeone::before {
    background-image: url(img/ElephantLinoleum.jpg);
    background-size: contain;
}
.lifetwo::before {
    background-image: url(img/japanese_scotch.jpg);
    background-size: contain;
}
.lifethree::before {
    background-image: url(img/longboard.jpg);
    background-size: contain;
}
.lifefour::before {
    background-image: url(img/OldRussianCamera.jpg);
    background-size: contain;
}
.lifefive::before {
    background-image: url(img/barbellDrawing.jpg);
    background-size: contain;
}
.lifesix::before {
    background-image: url(img/beachSantaBarbara.jpg);
    background-size: contain;
}
.lifeseven::before {
    background-image: url(img/books.jpg);
    background-size: contain;
}
.lifeeight::before {
    background-image: url(img/SingaporeNationalLibrary.jpg);
    background-size: contain;
}
.lifenine::before {
    background-image: url(img/sketch.jpg);
    background-size: contain;
}
.lifeten::before {
    background-image: url(img/streetartVenice.jpg);
    background-size: contain;
}
.life11::before {
    background-image: url(img/sonReading.jpg);
    background-size: contain;
}
.life12::before {
    background-image: url(img/hooliganTrumpet.jpg);
    background-size: contain;
}
.life13::before {
    background-image: url(img/wifeAndI.jpg);
    background-size: contain;
}
.life14::before {
    background-image: url(img/coaching.jpg);
    background-size: contain;
}
.life15::before {
    background-image: url(img/bike.jpg);
    background-size: contain;
}
.force-mult::before {
    background-image: url(img/stormtroopers.gif);
    background-size: contain;
}
.job-fair::before {
    background-image: url(img/jobfair.gif);
    background-size: contain;
    opacity: .6;
}
.stumble::before {
    background-image: url(img/stumble.gif);
    background-size: contain;
    opacity: .6;
}
.darth::before {
    background-image: url(img/darth.gif);
    background-size: contain;
    opacity: .6;
}
